{% extends 'layout.html.twig' %}

{% block content %}

   <!-- ======= Blog Section ======= -->
<section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">

          <h2>Votre annonce</h2>
           <p>Retrouvez ici l'annonce : {{ adverts.search_service }} </p>

        </br>
        <div><a href="/adverts/index"class="get-started-btn scrollto">Revenir aux Annonces</a></div>
        </div>

                    <section id="blog" class="blog">
                        <div class="container" data-aos="fade-up">
                            <div class="row">
                                <div class="col-lg-12 entries">

                                    <article class="entry adverthelp">
                                        <div class="entry-img">
                                        <img src="assets/img/blog/blog-4.jpg" alt="" class="img-fluid">
                                        </div>

                                        <h2 style="display: inline" class="entry-title h2adverthelp">{{ adverts.search_service }}</h2>
                                        {% if adverts.id_category == 1 %}
                                            <h3 class="h3adverthelp">Cuisine</h3>
                                        {% elseif adverts.id_category == 2 %}
                                            <h3 class="h3adverthelp">Bricolage</h3>
                                        {% elseif adverts.id_category == 3 %}
                                            <h3 class="h3adverthelp">Cours</h3>
                                        {% elseif adverts.id_category == 4 %}
                                            <h3 class="h3adverthelp">Administratif</h3>
                                        {% elseif adverts.id_category == 5 %}
                                            <h3 class="h3adverthelp">Sport</h3>
                                        {% elseif adverts.id_category == 6 %}
                                            <h3 class="h3adverthelp">Ménage</h3>
                                        {% elseif adverts.id_category == 7 %}
                                            <h3 class="h3adverthelp">Informatique</h3>
                                        {% elseif adverts.id_category == 8 %}
                                            <h3 class="h3adverthelp">Jardinage</h3>
                                        {% endif %}

                                        <div >
                                            <p class="padverthelp">{{ adverts.location }}</p>
                                            <p class="padverthelp">Durée : {{ adverts.duration }} h</p>
                                            <p class="padverthelp">Commentaire : {{ adverts.description }}</p>
                                            <p class="padverthelp">Mes disponibilités : {{ adverts.availability }}</p>
                                        </div>

                                        <div class="entry-content adverts-button row d-flex justify-content-end flex-row">
                                            <div class="read-more col-lg-3 p-2 search">
                                                <a href="/adverts/index">Aider !</a>
                                            </div>
                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %}
