{% extends 'layout.html.twig' %}

{% block content %}
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">

                <h2>Utilisateurs</h2>
                <p>Retrouvez ici toutes les utilisateurs</p>

                </br>
            </div>

                                    {% for user in identity %}
                                        <li>
                                            <section id="blog" class="blog">
                                                <div class="container" data-aos="fade-up">
                                                    <div class="row">
                                                        <div class="col-lg-12 entries">
                                                            <article class="entry adverthelp">

                                                                <h2 class="entry-title h2adverthelp">{{ user.firstname }} {{ user.lastname }}</h2>
                                                                <p class="padverthelp">Admin: {{ user.isAdmin }}
                                                                    <small>(0 - Non / 1 - Oui)</small>
                                                                </p>
                                                                <p class="padverthelp">Statut du compte: {{ user.accountStatus }}
                                                               <small>(0 - En attente / 1 - Accepté / 2 - Bannit)</small>
                                                                </p>
                                                                <p class="padverthelp">Ville: {{ user.city }}</p>
                                                                <p class="padverthelp">Email: {{ user.email }}</p>
                                                                <p class="padverthelp">Telephone: {{ user.phone }}</p>
                                                                <p class="padverthelp">Credit: {{ user.credit }}</p>
                                                                <p class="padverthelp">Annonces: {{ user.publications }}</p>



                                                                <div class="entry-content adverts-button row d-flex justify-content-end flex-row">
                                                                        <div class="read-more col-lg-3 p-2 search">
                                                                            <a href="/identity/show/{{ user.id }}">Voir l'utilisateur</a>
                                                                        </div>
                                                                    </div>
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </li>
                                    {% else %}
                                        <li>Nothing to display</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


