<div class="signup-form">
<form class="form-horizontal"method="post">
    <div class="col-xs-8 col-xs-offset-4">
 <h2>Bonjour!</h2>
    </div>

    <label class="sr-only" for="firstname">Prénom :</label>
    <input type="text" value="{{ identity.firstname }}" class="form-control" name="firstname"><br/>

    <label for="lastname">Nom :</label>
    <input type="text" value="{{ identity.lastname }}" class="form-control"  name="lastname"><br/>

 <div class="form-group">
 <label for="gender">Sexe: </label>
    <select id="gender" name="gender" class="form-control" >
        <option value="{{ identity.gender }}">{{ identity.genderDisplay }}</option>
        <option value="male">Masculin</option>
        <option value="female">Femelle</option>
    </select>
 </div>

    <label for="date_of_birth">Date de naissance: </label>
    <input type="date" id="date_of_birth" name="date_of_birth" class="form-control"
           value="{{ identity.date_of_birth }}" min="1900-01-01" max="2003-12-31"><br>

    <label for="city">Ville :</label>
    <input type="text" value="{{ identity.city }}" class="form-control" name="city"><br/>

    <label for="phone">Numéro de téléphone: </label>
    <input type="tel" id="phone" name="phone"
           pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
           value="{{ identity.phone }}" class="form-control">
    <small>Ex: 0612345678</small><br>

    <label for="email">E-mail: </label>
    <input type="email" id="email" name="email" class="form-control" value="{{ identity.email }}"><br>

    <label for="password">Mot de passe </label>
    <input type="password" id="password" name="password" class="form-control" value="{{ identity.password }}"><br>

    <input type="submit" class="btn btn-primary" value="S'inscrire">

</form>
</div>